[submodule "external/hdf5-feedstock"]
	path = external/hdf5-feedstock
    url = https://github.com/ericnchen/hdf5-feedstock.git
[submodule "external/mpich-feedstock"]
	path = external/mpich-feedstock
    url = https://github.com/ericnchen/mpich-feedstock.git
[submodule "external/fenics-feedstock"]
	path = external/fenics-feedstock
    url = https://github.com/ericnchen/fenics-feedstock.git
[submodule "external/petsc-feedstock"]
	path = external/petsc-feedstock
    url = https://github.com/ericnchen/petsc-feedstock.git
